extends layout.pug

block content

    div(class="question-container")
        h1 #{question.question}
        button(id=`question-upvote-${question.id}` type="button" class="question-upvote-button") Up Vote
        span(id=`question-counter-${question.id}`) #{question.voteCount}
        button(id=`question-downvote-${question.id}` type="button" class="question-downvote-button") Down Vote
            ul
                each answer in question.Answers
                    li #{answer.answer}
                    button(id=`answer-upvote-${answer.id}` type="button" class="answer-upvote-button") Up Vote
                    span(id=`answer-counter-${answer.id}` class="answer-vote-count") #{answer.voteCount}
                    button(id=`answer-downvote-${answer.id}` type="button" class="answer-downvote-button") Down Vote
        a(role='button' href=`/questions/${question.id}/answers`) Answer

/*
vivian's 
    h1.userName #{userQ.userName} asked:
    div.question-container
        div(class="question-box")
            h1.question #{question.question}
            form(action=`/questions/${question.id}/answers`, method="get") 
                button(type='submit' class='answer-btn') Answer
    div.answers
        ul
            each answer in question.Answers
                h1.userNameAnswers #{userA.userName} answered:
                div.answer-container
                    li.answer-info-box #{answer.answer}
*/