div(class='question-list-container')
    div(class='question-list-box')
        div(class='question-list-header-box')
            h1.question-form-header Questions
        ul(class='questions-list')
            each question in questions
                li.question-info-box
                    div(class='qs-stats-container')
                        div(class='qs-votes-container')
                            if locals.authenticated
                                form(action='/voting/upvote' method='PATCH')
                                    button(id=`upvote-${question.id}` type="button" class="upvote-button") Up Vote
                            span(id=`counter-${question.id}` class='votes-number') #{question.voteCount}
                            if locals.authenticated
                                form(action='/voting/downvote' method='PATCH')
                                    button(id=`downvote-${question.id}` type="button" class="downvote-button") Down Vote
                    div(class='question-info')
                            a(class="question" href=`/questions/${question.id}`) #{question.question}
                            div.question-userName-container
                                p(class='question-userName') #{question.User}
                                