extends layout.pug

block content
    div(class="question-container")
        h1 #{question.question}
        span(class="voteCount") #{question.voteCount} vote count of question
            ul
                each answer in question.Answers
                    li #{answer.answer}
                    span(class="voteCount") #{answer.voteCount} vote count of the answer
        a(role='button' href=`/questions/${question.id}/answers`) Answer
