extends layout.pug

block content
    h1.userName #{userQ.userName} asked:
    div.question-container
        div(class="question-box")
            h1.question #{question.question}
            form(class='answer-btn-container' action=`/questions/${question.id}/answers`, method="get") 
                button(type='submit' class='answer-btn') Answer
    div.answers
        ul
            each answer in question.Answers
                h1.userNameAnswers #{userA.userName} answered:
                div.answer-container
                    li.answer-info-box #{answer.answer}