html
    div(class='box-container')
        div(class='welcome-message-container')
            h1(class='welcome-message') MedFlow Clinic is a space for users to ask professionals about whatever may be ailing them. 
        div(class='welcome-message-container')
            h1(class='welcome-message') Register, login, or click the Demo button to start asking, answering, and voting on your favorite questions and answers!
        div(class='page')
            div(class='left-menu-container')
                form(action='/questions/add' method='get')
                    button(class='ask-question-button' type='submit') Ask a Question
            div(class='question-container')
                div(class='question-box')
                    div(class='question-header')
                        h1 All Questions
                    div(class='question-body-box')
                        div(class='vote-container')
                            div(class='question-body')
                    ul(class='questions-list')
                        each question in questions
                            li.question-info-box
                                div(class='qs-stats-container')
                                    div(class='qs-votes-container')
                                        if locals.authenticated
                                            form(action='/voting/upvote/question' method='PATCH')
                                                i(class='fas fa-caret-up' style='font-size:50px' id=`question-upvote-${question.id}` type="button" class="question-upvote-button")
                                        span(id=`question-counter-${question.id}` class='votes-number') #{question.voteCount} Votes
                                        if locals.authenticated
                                            form(action='/voting/downvote/question' method='PATCH')
                                                i(class='fas fa-caret-down' style='font-size:50px' id=`question-downvote-${question.id}` type="button" class="question-downvote-button")
                                div(class='question-info')
                                        a(class="question" href=`/questions/${question.id}`) #{question.question}
                                        div.question-userName-container
                                            p(class='question-userName') Asked By: #{question.User}
        footer(class='footer-container')
            div(class='developed')
                h1 Developed by:
                    a(href='https://github.com/rzh150030') Richard Huang,
                    a(href='https://github.com/southwestmogrown') Shane Wilkey,
                    a(href='https://github.com/Taylor-H') Taylor Pell,
                    a(href='https://github.com/itsvivrant') Vivian Ngoc Che
